.container {
  position: relative;
}

.contextMenu {
  min-width: 200px;
  max-width: 300px;
  width: auto;
  height: auto;
  position: fixed;
  z-index: 1000;
  background: rgba(39, 38, 29, 0.92);
  border: 1px solid rgba(255, 255, 255, 0.67);
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      cursor: pointer;
      color: #fff;
      transition: background 0.3s;
      font-size: 14px;

      &:hover {
        background: #3a392b;
      }
    }
  }
}
